/* .swiper {
    width: 11rem;
    height: 12rem;
    position: absolute;
    left: 50%;
    top: 55%;
    margin-left:-37rem;
    margin-top: -13rem;
  }
  
  .swiper-slide {
    background-position: center;
    background-size: cover;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
  } */