/*estilos del formulario*/
* {
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .login {
    width: 320px;
    height: 450px;
    border: 1px solid #CCC;
    background: url(https://media3.giphy.com/media/4ilFRqgbzbx4c/giphy.gif?cid=ecf05e47ol4ygr2ttaxz6cdbjhpmqauzrswyobriurajsidi&rid=giphy.gif&ct=g) center center no-repeat;
    background-size: cover;
    margin: 30px auto;
    border-radius: 20px;
    margin-top: 17.5rem;
    margin-left: 29rem;
    position: absolute;
  }
  .login .form {
    width: 100%;
    height: 100%;
    padding: 15px 25px;
  }
  .login .form h2 {
    color: #FFF;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 80px;
  }
  .login .form input {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    background: rgba(255,255,255,.5);
    border: 1px solid rgba(255,255,255,.1);
    padding: 0 15px;
    color: #FFF;
    border-radius: 5px;
    font-size: 14px;
  }
  .login .form input:focus {
    border: 1px solid rgba(255,255,255,.8);
    outline: none;
  }
  ::-webkit-input-placeholder {
      color: #DDD;
  }
  .login .form input.submit {
    background: rgba(255,255,255,.9);
    color: #444;
    font-size: 15px;
    margin-top: 40px;
    font-weight: bold;
  }

  /*estilos de las letras de neon*/
  @font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
  }
  
  .container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    
    position: absolute;
    /* background-color: red; */
  }
  
  .neon {
    font-family: neon;
    color: #FB4264;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #F40A35;
  }
  
  .flux {
    font-family: neon;
    color: #426DFB;
    font-size: 9vw;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356FF;
  }
  
  .neon {
    animation: neon 1s ease infinite;
    -moz-animation: neon 1s ease infinite;
    -webkit-animation: neon 1s ease infinite;
  }
  
  @keyframes neon {
    0%,
    100% {
      text-shadow: 0 0 1vw #FA1C16, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
      color: #FED128;
    }
    50% {
      text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #800E0B, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
      color: #806914;
    }
  }
  
  .flux {
    animation: flux 2s linear infinite;
    -moz-animation: flux 2s linear infinite;
    -webkit-animation: flux 2s linear infinite;
    -o-animation: flux 2s linear infinite;
  }
  
  @keyframes flux {
    0%,
    100% {
      text-shadow: 0 0 1vw #1041FF, 0 0 3vw #1041FF, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
      color: #28D7FE;
    }
    50% {
      text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
      color: #146C80;
    }
  }
  



*{box-sizing: border-box;}
html,body{height:100%;}
@keyframes background{
  100% {background-size: 4000px 1000px;}
}
body{
  display: grid;
  margin: 0;
  padding: 0 24px;
  background-image: url('../img/background.svg');
  background-size: 2000px 1000px;
  background-position: -500px 0;
  color: #f9f9f9;
  animation: background 10s infinite alternate linear;
}